*.sh
tags
*.aux
*.fdb_latexmk
*.log
*.pdf
*.dvi
*.pdf_tex
*.out
*.fls
*.bcf
*.blg
*.bbl
*.xml
*.acn
*.acr
*.alg
*.glo
*.ist
*.lof
*.lot
*.toc
*.synctex.gz
*.swp
gnuplottex
*.gnuploterrors
*.gls
*.gls-abr
*.glo
*.glo-abr
*.glg
*.glg-abr
*.tar.gz
*.taghl
1
2
3
4
